body {
  background-color: black;
}

.code-tree-style {
  height: 100dvh;
  /* aspect-ratio: 1.25/1; */
  /* object-fit: cover; */
}

.fade-text {
  /* opacity: 0;
  animation: fadeOpacity 4s ease-in-out infinite; */
  background: linear-gradient(to right, transparent 0%, white 100%);
  background-size: 200% 100%;
  background-position: -100% 0;

  -webkit-background-clip: text;
  background-clip: text;

  animation: fadeAnimation 4s linear infinite;
}

@keyframes fadeAnimation {
  0% {
    background-position: 100% 0;
    /* transform: translateX(-20px); */
  }

  100% {
    background-position: -100% 0;
    /* transform: translateX(0); */
  }
}

/* @keyframes fadeOpacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
} */

.hero-text>* {
  font-size: 72px;
  color: transparent;
  text-align: center;
}

.hero-text-left {
  left: 8%;
  top: 30%;
}

.hero-text-right {
  right: 4%;
  top: 30%;
}

/* .hero-text-position {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
} */

.navbar-style {
  padding: 16px 100px 16px 100px;
  /* outline: 1px solid white; */
  font-size: 24px;
  color: white;
}

.navlink-style {
  width: 40%;
}

.navlink-style>* {
  color: white;
  text-decoration: none;
}