body {
  background-color: black;
}

.code-tree-style {
  height: 100dvh;
  /* aspect-ratio: 1.25/1; */
  /* object-fit: cover; */
}

.hero-text>* {
  font-size: 72px;
  color: white;
  text-align: center;
}

.hero-text-left {
  opacity: 0%;
  transition: opacity 100% 1s ease-in-out;
  left: 8%;
  top: 30%;
}

.hero-text-right {
  opacity: 0%;
  transition: opacity 100% 1s ease-in-out;
  right: 4%;
  top: 30%;
}

/* .hero-text-position {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
} */

.navbar-style {
  padding: 16px 100px 16px 100px;
  /* outline: 1px solid white; */
  font-size: 24px;
  color: white;
}

.navlink-style {
  width: 40%;
}

.navlink-style>* {
  color: white;
  text-decoration: none;
}