body {
  background-color: black;
}

.code-tree-style {
  height: 100dvh;
  /* aspect-ratio: 1.25/1; */
  /* object-fit: cover; */
}

.navbar-style {
  padding: 16px 100px 16px 100px;
  /* outline: 1px solid white; */
  font-size: 24px;
  color: white;
}

.navlink-style {
  width: 40%;
}

.navlink-style>* {
  color: white;
  text-decoration: none;
}